
portvar PORTOS [0:4095]

#Rule 1
event_filter \
    gen_id 1, sig_id 20160405, \
    type both, \
    track by_dst, \
    count 5, seconds 60

alert TCP any any -> 10.101.148.20 $PORTOS ( msg:"ALERT TCP"; sid:20160405; rev:0;)

#Rule 2
event_filter \
    gen_id 1, sig_id 20160406, \
    type threshold, \
    track by_src, \
    count 5, seconds 45

alert TCP any any -> 10.101.148.20 4567 ( msg:"DOS ATTACK"; sid:20160406; rev:0;)
