# SNORT RULES

#RULE 1
portvar PORTOS [0:4095]

event_filter \
    gen_id 1, sig_id 123456, \
    type both, \
    track by_dst, \
    count 5, seconds 60

alert TCP any any -> 10.101.148.3 $PORTOS ( \
    msg:"ALERT TCP"; \
    sid:123456; rev:0; \
)

#RULE 2
event_filter \
    gen_id 1, sig_id 123457, \
    type threshold, \
    track by_src, \
    count 5, seconds 45

alert TCP any any -> 10.101.148.3 4567 ( \
    msg:"DOS ATTACK"; \
    sid:123457; rev:0; \
)
